<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 612.75696 577.23169"
  class="svg-root"
  role="group"
  aria-labelledby="map-description"
  (mouseover)="updateMouseInfo($event.type)"
  (mouseout)="updateMouseInfo($event.type)"
>
  <desc id="map-description">
    COVID-19 cases in provinces on given date or range
  </desc>
  <g role="list">
    <path
      attr.tabindex="0"
      (focus)="showTooltip($event)"
      (blur)="hideTooltip()"
      role="listitem"
      *ngFor="let province of provinces"
      [attr.d]="province.borders"
      [id]="province.id"
      [attr.fill]="getColorByID(province.id)"
      stroke="black"
      [attr.aria-label]="getProvinceDescriptionByID(province.id)"
    ></path>
  </g>
</svg>

<covid-app-tooltip
  [content]="tooltipContent"
  [postion]="tooltipPosition"
  [isVisible]="isTooltipVisible"
></covid-app-tooltip>
