.date-picker__wrapper {
  display: block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 6px;
  margin: 5px;
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;

  @media (min-width: 600px) {
    border-radius: 8px;
    box-shadow: inset 4px 4px 10px #d9d9d9, inset -4px -4px 10px #ffffff;
    font-size: 24px;
  }
}

.date-picker__input {
  font-size: 16px;
  background-color: transparent;
  border: none;

  @media (min-width: 600px) {
    font-size: 24px;
  }
}

.date-picker__label {
  display: block;
  font-size: 12px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}
