.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 24px;
  margin-bottom: 12px;
  font-size: 1.3rem;

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

.map {
  width: 90%;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
